.nav-container {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  .nav-button-container {
    display: grid;
    grid-template-columns: 170px 170px 170px;
  }
  .nav-container-right {
    margin: 0px;
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
