.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: black;
  .nav-button-container {
    display: grid;
    grid-template-columns: 170px 170px 170px 170px 30px;
    text-decoration: none;
    .nav-link {
      text-decoration: none;
    }
    .nav-button-key {
      margin: auto;
      text-decoration: none;
      color: black;
    }
  }
  .nav-container-right {
    margin: 0px;
    display: grid;
    grid-template-columns: auto 70px auto;
  }
}
