.orderdetails-page {
  display: flex;
  .orderdetails-container {
    margin: 50px auto 50px auto;
    padding: 20px;
    min-width: 600px;
    max-width: 800px;
    border: 2px solid rgb(227, 212, 212);
    border-radius: 30px;
    background-color: white;
    .orderdetails-entity {
      margin-top: 0px;
      display: grid;
      grid-template-columns: 150px auto;
      margin-right: 20px;
    }
    .orderdetails-list {
      .orderdetails-list-header {
        display: grid;
        grid-template-columns: auto 150px;
      }
      .orderdetails-list-item {
        display: grid;
        grid-template-columns: auto 150px;
        text-decoration: none;
        color: black;
      }
    }
  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    margin-left: 10px;
    position: relative;
    display: inline-block;
    .dropbtn {
      background-color: black;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      width: 160px;
      cursor: pointer;
    }
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: black;
  }
  .orderdetails-list {
    border-top: solid hwb(218 88% 8% / 0.945);
    border-top-style: solid;
    .checkoutitem-container {
      text-decoration: none;
      color: black;
    }
  }
}
