.pagination-container {
  margin-left: 50px;
  margin-top: 5px;
  display: grid;
  grid-template-columns: 60px 60px 60px 60px 60px auto;
  .pagination-goto-container {
    display: flex;
    .pagination-input {
      margin-right: 5px;
      height: 50px;
      min-width: 50px;
      max-width: 100px;
      border: 1px black;
    }
  }
}
