.productdetails-container {
  margin-top: 50px;
  margin-left: 30px;
  display: flex;

  .productdetails-image {
    width: 400px;
    height: 400px;
    margin-right: 10px;
    border: 2px solid rgb(227, 212, 212);
    border-radius: 30px;
  }
  .productdetails-container-details {
    margin-top: auto;
    margin-right: 50px;
    margin-bottom: auto;
  }
}
