.checkout-header {
  margin-left: 30px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto 150px 100px 170px;
  align-items: center;
}
.checkoutitem-container {
  margin-left: 30px;
  display: grid;
  grid-template-columns: auto 150px 100px 170px;
  align-items: center;

  .productitem-price {
    display: flex;
  }

  .productitem-name {
    text-decoration: none;
    color: black;
  }
}
.checkout-summary {
  margin-left: 30px;

  .total {
    display: flex;
    align-items: center;
  }
}
