.nav-container {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  .nav-button-container {
    display: flex;
    align-items: flex-start;
  }
  .nav-container-right {
    display: grid;
    grid-template-columns: auto auto;
  }
}
