.orderpage-body-container {
  max-width: 850px;
  margin: 10px auto 10px auto;
  background-color: white;
  padding-bottom: 20px;
  border: 2px solid rgb(227, 212, 212);
  border-radius: 5px;
  .orderpage-body-title {
    display: grid;
    margin-left: 20px;
    margin-right: 20px;
    grid-template-columns: 200px 200px 250px auto;
    border-bottom: solid hwb(218 88% 8% / 0.945);
    border-bottom-style: solid;
  }
}
